@font-face {
  font-family: "Digital";
  src: url("/fonts/digital-7.regular.ttf");
}


html, body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100%;
}

html {
  padding: 0;
}

body {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;
}

h1, p {
 margin: 0;
 padding: 0;
}

h1 {
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
}

p {
  margin: 0 auto 1rem;
  font-family: "Digital", sans-serif;
  font-size: 36px;
}

input {
  margin: 0 auto 0.5rem;
  display: block;
  
}

button {
  width: 80px;
  margin: 0 auto 0.5rem;
  font-family: "Lato", sans-serif;
}

#reset-btn {
  margin-bottom: 1rem;
}

.red {
  color: red;
}